export(sample.size.NI, test.NI, arcsine.margin, power.NI.frontier, type1error.NI.frontier, analyse.durations, plot.durations, summary.durations, fracpoly2fix)
importFrom("stats", "qnorm", "pnorm", "rbinom")
importFrom("graphics", "abline", "lines", "plot")
importFrom("Epi", "ci.pd")
