import(stats)
import(boot)
import(survival)
import(graphics)
import(DescTools)
import(ratesci)
import(exact2x2)
import(marginaleffects)
importFrom("utils","capture.output")
importFrom("graphics", "abline", "lines", "plot")

export(sample.size.NI, 
	   test.NI, 
	   arcsine.margin, 
	   power.NI.frontier, 
	   type1error.NI.frontier, 
	   analyse.durations, 
	   plot.durations, 
	   summary.durations, 
	   fracpoly2fix)

	   

S3method(plot,durations)
S3method(summary,durations)