import(stats)
import(boot)
import(survival)
import(graphics)
import(DescTools)
import(ratesci)
import(exact2x2)
import(marginaleffects)
import(mfp)
importFrom("utils","capture.output")
importFrom("graphics", "abline", "lines", "plot")
export(samplesize.NI.binary,
       samplesize.NI.survival,
       samplesize.NI.continuous,
       samplesize.NIfrontier.binary,
       samplesize.ROCI.binary,	   
	   test.NI.binary,
	   test.NI.continuous,
       test.NI.survival,
       test.NIfrontier.binary,
       test.ROCI.binary,	   
	   convertmargin.binary,
	   convertmargin.continuous,
	   convertmargin.survival,
       compare.NIfrontier.binary,
       compare.NIfrontier.survival,
       compare.NIfrontier.continuous,	   
	   plot.ROCI, 
	   summary.ROCI)
S3method(plot,ROCI)
S3method(summary,ROCI)
